.heading{ font-size:26px;
  background:linear-gradient(90deg,#f0be1d,#C71585);
  -webkit-background-clip:text;
    background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent;

  

}
body{
	background:url(1.png);
	background-repeat:no-repeat;
	
	}


	.guide{
		display:inline;
		
	}
.buttoms{
	margin-right:10px;
	
}
button{background:linear-gradient(90deg,#000000,#808080);
  -webkit-background-clip:text;
    background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent;}

.propizzy{
	margin-left:0%;
	margin-top:100px
}
