.heading{ font-size:26px;
  background:linear-gradient(90deg,#f0be1d,#C71585);
  -webkit-background-clip:text;
    background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent
}




	.guide{
		display:inline;
		
	}
.buttoms{
	margin-right:10px;
	
}
button{background:linear-gradient(90deg,#000000,#808080);
  -webkit-background-clip:text;
    background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent;}
  
  .dostavka{
	  font-family:	Monotype Corsiva;
	  font-size:20px;
  }
  
  .Дякую{
	  font-size:50px;
	  font-family:Consolas;
	  color:orange;
  }
  
  .every{
	  color:orange;
  }
  
  